/node_modules
.env
/dist
/coverage
/.vscode
/.idea
.DS_Store
*.log
*.tsbuildinfo
.claude
examples/node_modules
examples/dist
examples/coverage
examples/.vscode
examples/.idea
examples/.DS_Store
examples/*.log
examples/*.tsbuildinfo
examples/.claude